.login-parent{
    padding:0 3rem;
    height:85.5vh;
    background-color: var(--secondary-clr);
}

.auth-landing-img{
    margin:2rem 1rem;
    width:37rem;
}

.browse-btn{
    margin-left:2rem;
    width:11rem
}

.login-form{
    width:20rem;
    padding:1rem;
}

.glass-card{
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.form-heading{
    color:var(--primary-clr);
}

.form-input{
    width:100%;
    padding:7px;
    border:none;
    border-radius:4px;
}

.link-txt:hover{
    color:var(--accent-clr);
}

.link-btn:hover{
    color:var(--clr-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}