:root{
    /*color theme*/
    --primary-clr:#5028c7;
    --secondary-clr:#dde3fd;
    --teritiary-clr:#ffeae5;
    --accent-clr:#fa0a32;
}


/*utility class required [will be moving these to component library]*/
.mg-1{
    margin:1rem;
}

.mg-rl-1{
    margin:0 1rem;
}

.mg-rl-2{
    margin:0 2rem;
}

.mg-rl-5px{
    margin:0 5px;
}

.flex-start{
    align-items: flex-start;
}

.flex-wrap{
    flex-wrap: wrap;
}

.space-around{
    justify-content: space-around;
}

.width-100{
    width:100%;
}

.fs-13px{
    font-size: 13px;
}